*~
Activities/
DTR-Rogelee.ods
Ebooks/
Example.class
Example.java
Exercise/JavaActivity/ExerciseArraylist/Operations.class
Exercise/JavaActivity/ExerciseReaderWriter/
Exercise/JavaActivity/HorseRace.tar.gz
Exercise/JavaActivity/HorseRace1/
Exercise/mavenActivity/FRnW.java
Exercise/mavenActivity/Operations.java
Exercise/mavenActivity/Values.java
Sample/
git
gitStash
hello.html
notes/
testgit/
testmaven/

